<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GXAppNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GXAppNobleMetal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GXAppVip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GXAppXianHuoBao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GXGJS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GXXHB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>GXXZG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6D2613E1DEBC1CF00D180E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D261571DEBC1CF00D180E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E420F0E71E7FF5BC00354D84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46323361DED0C10007A54E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46324831DED0C19007A54E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46325D01DED0C1E007A54E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEDA531E5AB3FA00B455A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEDEC51E5AB6E400B455A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEE3361E5ABBBC00B455A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEE7A61E5BD35700B455A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AEEC141E5BE36C00B455A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C72E441E56BFDE0019854B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
